:root {
  /* 标题 */
  --title-color: rgba(0, 0, 0, 0.85);
  /* 正文 */
  --text-color: rgba(0, 0, 0, 0.65);
  /* 次要文字 */
  --sub-text-color: rgba(0, 0, 0, 0.45);
  /* 不可点文字 */
  --disable-text-color: rgba(0, 0, 0, 0.25);
  /* 线的颜色 */
  --line-color: rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}
body {
  color: rgb(var(--foreground-rgb));
}
a {
  color: inherit;
  text-decoration: none;
}
#root {
  width: 100%;
  height: 100%;
}

.micro-app-tomato-main-TIEcrk {
  height: 100%;
  width: 100%;
}

.micro-app-tomato-popupModel-cWVFnE.micro-app-tomato-maxWindow-UpclWO .ant-modal {
  width: 100% !important;
  height: 100%;
  max-width: 100%;
}
.micro-app-tomato-popupModel-cWVFnE.micro-app-tomato-maxWindow-UpclWO .ant-modal-content {
  height: 100%;
  border-radius: 0;
}
.micro-app-tomato-popupModel-cWVFnE .ant-modal-content {
  padding: 0 !important;
  border-radius: 12px;
  overflow: hidden;
  background-color: transparent;
}
.micro-app-tomato-popupModel-cWVFnE .ant-modal-content .ant-modal-body {
  height: 100%;
}
.micro-app-tomato-popupModel-cWVFnE .micro-app-tomato-dialogPanel-Au4QlG {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}
.micro-app-tomato-popupModel-cWVFnE .micro-app-tomato-dialogTool-fpSxBw {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  z-index: 1000;
}
.micro-app-tomato-popupModel-cWVFnE .micro-app-tomato-dialogTool-fpSxBw.micro-app-tomato-reverse-mfhna1 {
  left: 8px;
  right: initial;
  flex-direction: row-reverse;
}
.micro-app-tomato-popupModel-cWVFnE .micro-app-tomato-dialogTool-fpSxBw .micro-app-tomato-btn-tFT8ie {
  display: flex;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  cursor: pointer;
  color: #fff;
  font-size: 8px;
  transition: all 0.3s;
}
.micro-app-tomato-popupModel-cWVFnE .micro-app-tomato-dialogTool-fpSxBw .micro-app-tomato-btn-tFT8ie.micro-app-tomato-yellow-JfXiQe {
  background-color: #f5b94b;
}
.micro-app-tomato-popupModel-cWVFnE .micro-app-tomato-dialogTool-fpSxBw .micro-app-tomato-btn-tFT8ie.micro-app-tomato-green-Vro13N {
  background-color: #34c759;
}
.micro-app-tomato-popupModel-cWVFnE .micro-app-tomato-dialogTool-fpSxBw .micro-app-tomato-btn-tFT8ie.micro-app-tomato-red-N7z5Z_ {
  background-color: #ff7330;
}
.micro-app-tomato-popupModel-cWVFnE .micro-app-tomato-dialogTool-fpSxBw .micro-app-tomato-btn-tFT8ie.micro-app-tomato-blue-TpOa3T {
  background-color: #69b1ff;
}
.micro-app-tomato-popupModel-cWVFnE .micro-app-tomato-dialogTool-fpSxBw .micro-app-tomato-btn-tFT8ie > i {
  opacity: 0;
  transition: all 0.3s;
}
.micro-app-tomato-popupModel-cWVFnE .micro-app-tomato-dialogTool-fpSxBw .micro-app-tomato-btn-tFT8ie:hover > i {
  opacity: 1;
}
.micro-app-tomato-iconClose-iNcfCu {
  position: relative;
}
.micro-app-tomato-iconClose-iNcfCu::before,
.micro-app-tomato-iconClose-iNcfCu::after {
  content: '';
  display: block;
  height: 3px;
  width: 10px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.micro-app-tomato-iconClose-iNcfCu::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.micro-app-tomato-iconClose-iNcfCu::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.micro-app-tomato-iconExpandOut-woy2jA,
.micro-app-tomato-iconCompressOut-f6AXod {
  position: relative;
}
.micro-app-tomato-iconExpandOut-woy2jA::before,
.micro-app-tomato-iconCompressOut-f6AXod::before,
.micro-app-tomato-iconExpandOut-woy2jA::after,
.micro-app-tomato-iconCompressOut-f6AXod::after {
  content: '';
  display: block;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}
.micro-app-tomato-iconExpandOut-woy2jA::before {
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
  margin: -1px;
}
.micro-app-tomato-iconExpandOut-woy2jA::after {
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  margin: 1px;
}
.micro-app-tomato-iconCompressOut-f6AXod::before {
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  margin: -3px;
}
.micro-app-tomato-iconCompressOut-f6AXod::after {
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
  margin: 3px;
}
.micro-app-tomato-iconRetract-dDsSpr {
  position: relative;
}
.micro-app-tomato-iconRetract-dDsSpr::before {
  content: '';
  display: block;
  height: 3px;
  width: 10px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.micro-app-tomato-iconLink-UNTZLC {
  position: relative;
}
.micro-app-tomato-iconLink-UNTZLC::before,
.micro-app-tomato-iconLink-UNTZLC::after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  border: 2px solid #fff;
  border-radius: 4px;
  transform: rotate(-15deg);
}
.micro-app-tomato-iconLink-UNTZLC::before {
  left: -5px;
  top: -2px;
}
.micro-app-tomato-iconLink-UNTZLC::after {
  left: -2px;
  top: -5px;
}
.micro-app-tomato-viewResizeContainer-VNWzPL {
  position: relative;
}
.micro-app-tomato-viewResizeContainer-VNWzPL .micro-app-tomato-viewResizePanel-tRBWMw {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.micro-app-tomato-mainContainer-VsQE1N {
  height: 100%;
  width: 100%;
  position: relative;
  color: #e3e3e3;
}
.micro-app-tomato-mainContainer-VsQE1N .micro-app-tomato-panel-iQtYYx {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.micro-app-tomato-mainContainer-VsQE1N .micro-app-tomato-panel-iQtYYx .micro-app-tomato-time-rWlnm1 {
  font-family: Arial;
  font-size: 160px;
  font-weight: 700;
}
.micro-app-tomato-mainContainer-VsQE1N .micro-app-tomato-bgCover-T4qSoI {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  background-color: #201f1e;
}
.micro-app-tomato-miniContainer-Tkd0vI {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.micro-app-tomato-miniContainer-Tkd0vI .micro-app-tomato-header-dDKpTz {
  height: 48px;
}
.micro-app-tomato-miniContainer-Tkd0vI .micro-app-tomato-floor-zhYbV2 {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.micro-app-tomato-miniContainer-Tkd0vI .micro-app-tomato-floor-zhYbV2 .micro-app-tomato-switchTheme-_TIP3N {
  margin-top: 12px;
  margin-bottom: 120px;
}
.micro-app-tomato-miniContainer-Tkd0vI .micro-app-tomato-floor-zhYbV2 .micro-app-tomato-actionBtns-Spbxa1 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.micro-app-tomato-miniContainer-Tkd0vI .micro-app-tomato-floor-zhYbV2 .micro-app-tomato-settingBtns-K_SZnv {
  margin-top: 16px;
  margin-bottom: 16px;
}
.micro-app-tomato-mask-cbLwap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(42, 56, 27, 0.3), rgba(18, 18, 16, 0.4));
}
.micro-app-tomato-backdrop-brTMWg {
  position: relative;
}

.micro-app-tomato-layout-HBoKko {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: #000;
}
.micro-app-tomato-layout-HBoKko .micro-app-tomato-mainContainer-BFt30f {
  width: 100%;
  height: 100%;
  flex: 1;
  border-radius: 12px;
  margin-right: 12px;
  overflow: hidden;
  position: relative;
}
.micro-app-tomato-layout-HBoKko .micro-app-tomato-mainContainer-BFt30f::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 1px 8px 5px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  pointer-events: auto;
  z-index: 1;
}
.micro-app-tomato-layout-HBoKko .micro-app-tomato-miniContainer-kY3XGV {
  max-width: 320px;
  width: 24%;
  flex-shrink: 0;
  height: 100%;
}
.micro-app-tomato-layout-HBoKko .micro-app-tomato-backdropContainer-iHutfH {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(15px);
}

.micro-app-tomato-cover-qiYki1 {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.micro-app-tomato-cover-qiYki1.micro-app-tomato-show-uhwsgp .micro-app-tomato-coverPanel-rmxzYp {
  opacity: 1;
  transition: opacity 0.3s;
}
.micro-app-tomato-cover-qiYki1 .micro-app-tomato-coverPanel-rmxzYp {
  height: 100vh;
  width: 100vw;
  opacity: 0;
}
.micro-app-tomato-cover-qiYki1 .micro-app-tomato-coverPanel-rmxzYp > div {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.micro-app-tomato-switchTheme-gkdzq5 {
  color: #e3e3e3;
  font-size: 16px;
}
.micro-app-tomato-switchTheme-gkdzq5 > li {
  background-color: transparent !important;
  border: none !important;
}
.micro-app-tomato-switchTheme-gkdzq5 > li > button {
  background-color: transparent !important;
  color: #e3e3e3 !important;
}
.micro-app-tomato-switchTheme-gkdzq5 .ant-pagination-item-active {
  margin: 0 16px !important;
}

.micro-app-tomato-actionBtns-riaz9w {
  display: flex;
  align-items: center;
}
.micro-app-tomato-actionBtns-riaz9w .micro-app-tomato-startBtn-NTh6mq {
  padding: 12px 16px;
  width: 88px;
  font-weight: 400;
}
.micro-app-tomato-actionBtns-riaz9w .micro-app-tomato-iconBtn-CPyOja {
  font-size: 18px;
  padding: 12px 16px;
  width: 40px;
}
.micro-app-tomato-actionBtns-riaz9w .micro-app-tomato-iconBtn-CPyOja:last-child {
  margin-left: 8px;
}
.micro-app-tomato-actionBtns-riaz9w .micro-app-tomato-stopIcon-YpSQ9p {
  width: 12px;
  height: 12px;
  min-width: 12px;
  background-color: currentColor;
  border-radius: 2px;
}

.micro-app-tomato-button-WX6M91 {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  min-width: 40px;
  height: 40px;
  border-radius: 40px;
  font-size: 14px;
  transition: 0.2s;
}
.micro-app-tomato-button-WX6M91:hover {
  opacity: 0.8;
  color: rgba(255, 255, 255, 0.95);
}
.micro-app-tomato-button-WX6M91:active {
  transform: scale(0.92);
}

.micro-app-tomato-audioBtn-ERk3wI {
  border-radius: 6px;
  font-size: 18px;
}
.micro-app-tomato-audioBtn-ERk3wI.micro-app-tomato-disabled-m1mByK {
  cursor: not-allowed;
  opacity: 0.45;
}

.micro-app-tomato-notificationBtn-gAOqQx {
  border-radius: 6px;
  font-size: 18px;
}

.micro-app-tomato-settingBtn-Mz8vBT {
  border-radius: 6px;
  font-size: 18px;
}
.micro-app-tomato-settingBtn-Mz8vBT.micro-app-tomato-disabled-vsg9lx {
  cursor: not-allowed;
  opacity: 0.45;
}

.micro-app-tomato-settingPanel-vB7A2V {
  padding: 16px;
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeBox-Oxllkh {
  padding: 16px;
  color: #efefef;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeBox-Oxllkh .micro-app-tomato-timeBoxItem-M7fy1a {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 4px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeBox-Oxllkh .micro-app-tomato-timeBoxItem-M7fy1a.micro-app-tomato-active-FQ7Bnm {
  background-color: rgba(255, 255, 255, 0.2);
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeBox-Oxllkh .micro-app-tomato-timeBoxItem-M7fy1a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeBox-Oxllkh .micro-app-tomato-timeBoxItem-M7fy1a:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeBox-Oxllkh .micro-app-tomato-timeBoxItem-M7fy1a b {
  font-size: 16px;
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeInput-BLgdvy {
  padding: 16px;
  color: #efefef;
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeInput-BLgdvy .ant-space-compact-block {
  justify-content: center;
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeInput-BLgdvy .ant-input-number-outlined {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.1);
  color: #efefef;
  box-shadow: none !important;
  width: auto;
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeInput-BLgdvy .ant-input-number-handler-wrap {
  border-radius: 0;
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeInput-BLgdvy .ant-input-number-outlined .ant-input-number-handler-wrap {
  background-color: transparent;
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeInput-BLgdvy .ant-input-number .ant-input-number-handler {
  border-color: rgba(255, 255, 255, 0.1);
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeInput-BLgdvy .ant-input-number .ant-input-number-handler-up-inner,
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeInput-BLgdvy .ant-input-number .ant-input-number-handler-down-inner {
  color: #efefef;
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeInput-BLgdvy .ant-input-number .ant-input-number-input {
  color: #efefef;
  text-align: center;
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeInput-BLgdvy .ant-btn-default {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.1);
  color: #efefef;
  box-shadow: none !important;
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeInput-BLgdvy .ant-btn-default > div {
  display: none;
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeInput-BLgdvy .ant-btn-default:hover,
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeInput-BLgdvy .ant-btn-default:active {
  border-color: rgba(255, 255, 255, 0.1);
  color: #efefef;
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeInput-BLgdvy .ant-btn-default:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.micro-app-tomato-settingPanel-vB7A2V .micro-app-tomato-timeInput-BLgdvy .ant-btn-default:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.micro-app-tomato-copyright-_5zZL8 {
  font-size: 12px;
  color: #e3e3e3;
  opacity: 0.45;
  line-height: 16px;
  text-align: center;
  padding: 8px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.micro-app-tomato-copyright-_5zZL8 > div {
  display: none;
}
.micro-app-tomato-copyright-_5zZL8 > div:nth-child(1),
.micro-app-tomato-copyright-_5zZL8 > div:nth-child(2) {
  display: block;
}
.micro-app-tomato-copyright-_5zZL8:hover > div:nth-child(2) {
  display: none;
}
.micro-app-tomato-copyright-_5zZL8:hover > div:nth-child(3) {
  display: block;
}

.micro-app-tomato-container-z89bJg {
  width: 100%;
  height: 100%;
  font-size: 14px;
  position: relative;
}
.micro-app-tomato-container-z89bJg .micro-app-tomato-panel-uMPymK {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}
.micro-app-tomato-container-z89bJg .micro-app-tomato-bgCover-DcXzTi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.micro-app-tomato-container-z89bJg .micro-app-tomato-bgCover-DcXzTi .micro-app-tomato-mask-Jfnrr5,
.micro-app-tomato-container-z89bJg .micro-app-tomato-bgCover-DcXzTi .micro-app-tomato-bgImage-Dd68zM {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.micro-app-tomato-container-z89bJg .micro-app-tomato-bgCover-DcXzTi .micro-app-tomato-mask-Jfnrr5 {
  background: linear-gradient(rgba(31, 31, 29, 0.6), rgba(0, 0, 0, 0.7));
}
.micro-app-tomato-container-z89bJg .micro-app-tomato-bgCover-DcXzTi .micro-app-tomato-bgImage-Dd68zM {
  background-size: cover;
}
.micro-app-tomato-container-z89bJg .micro-app-tomato-left-mka9kQ {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.micro-app-tomato-container-z89bJg .micro-app-tomato-right-xKCtNz {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.micro-app-tomato-container-z89bJg .micro-app-tomato-icon-Zb6hre {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 2px;
  filter: grayscale(1);
  transition: filter 0.2s;
}
.micro-app-tomato-container-z89bJg .micro-app-tomato-title-Y2kg2X {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 4px;
  line-height: 24px;
}
.micro-app-tomato-container-z89bJg .micro-app-tomato-info-GsnaXt {
  font-size: 12px;
}
.micro-app-tomato-container-z89bJg:hover .micro-app-tomato-icon-Zb6hre {
  animation: micro-app-tomato-emphasize-nyK6Vd 1s infinite;
  filter: grayscale(0);
}
@keyframes micro-app-tomato-emphasize-nyK6Vd {
  0%,
  20%,
  80%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  25% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  35%,
  55%,
  75% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  45%,
  65% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
}

.micro-app-tomato-container-dD1AqC {
  height: 100%;
  width: 100%;
  background-color: #201f1e;
  color: #e3e3e3;
  position: relative;
}
.micro-app-tomato-container-dD1AqC .micro-app-tomato-panel-hAUptu {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.micro-app-tomato-container-dD1AqC .micro-app-tomato-panel-hAUptu .micro-app-tomato-switchTheme-XwtXqY {
  margin-top: 12px;
  margin-bottom: 20px;
}
.micro-app-tomato-container-dD1AqC .micro-app-tomato-panel-hAUptu .micro-app-tomato-time-O4b94z {
  width: 360px;
  height: 360px;
  font-family: Arial;
  font-size: 70px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}
.micro-app-tomato-container-dD1AqC .micro-app-tomato-panel-hAUptu .micro-app-tomato-actionBtns-oiM4NH {
  margin-top: 16px;
  margin-bottom: 16px;
}
.micro-app-tomato-container-dD1AqC .micro-app-tomato-panel-hAUptu .micro-app-tomato-settingBtns-cJniRr {
  margin-top: 16px;
  margin-bottom: 16px;
}
.micro-app-tomato-container-dD1AqC .micro-app-tomato-copyright-MwkF1x {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.micro-app-tomato-container-dD1AqC .micro-app-tomato-bgCover-KCZKjm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.micro-app-tomato-container-dD1AqC .micro-app-tomato-bgCover-KCZKjm .micro-app-tomato-mask-f6Ckoy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(42, 56, 27, 0.6), rgba(18, 18, 16, 0.7));
}

